<?xml version="1.0" encoding="utf-8"?>

<nlog
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
    internalLogFile="c:\temp\AionApi-NLog.log"
    internalLogLevel="Debug"
    throwExceptions="true">

    <!-- https://github.com/nlog/nlog/wiki/Configuration-file -->

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <variable name="environmentNotAvailable" value="N/A" />
    <variable name="environmentLayout"
              value="${whenEmpty:whenEmpty=${environmentNotAvailable}:inner=${event-context:item=Environment}}" />

    <!-- <variable name="callsiteLayout" value="${callsite:className=true:fileName=true:methodName:true}" /> -->
    <variable
        name="exceptionLayout"
        value="${exception:format=tostring:separator= | :innerFormat=tostring,message:maxInnerExceptionLevel=7:innerExceptionSeparator= | }" />
    <variable
        name="stackTraceLayout"
        value="${stacktrace:format=raw:topFrames=7:separator= » }" />

    <!-- full templates -->

    <variable
        name="debuggerLayout"
        value="Wiretap » ${event-properties:item=timestamp} | ${event-properties:item=status} | ${event-properties:item=details} | ${onexception:${newline}${exceptionLayout}}" />

    <variable name="logSourceType" value="${when:when=starts-with('${logger}', 'AionApi'):inner=core:else=util}" />

    <variable name="ConsoleLayout">
        <layout xsi:type="SimpleLayout" text="${longdate} | ${var:logSourceType} | ${level:uppercase=true:padding=5} | ${logger:shortName=false} | ${message} ${exception:format=tostring} | URL: ${aspnet-request-url:IncludeQueryString=true}" />
    </variable>
    <targets>

        <!-- CONSOLE TARGET FOR DARK IDE THEMES -->
        <target xsi:type="ColoredConsole" name="DarkConsole">
            <layout xsi:type="SimpleLayout" text="${var:ConsoleLayout}" />
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>

        <!-- CONSOLE TARGET FOR LITE IDE THEMES -->
        <target xsi:type="ColoredConsole" name="LiteConsole">
            <layout xsi:type="SimpleLayout" text="${var:ConsoleLayout}" />
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Black" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="DarkYellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="DarkRed" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="DarkRed" />
        </target>

        <target xsi:type="File" name="ConsoleDump" fileName="c:\temp\AionApi.Console-${shortdate}.log">
            <layout xsi:type="SimpleLayout" text="${var:ConsoleLayout}" />
        </target>

        <target xsi:type="File" name="ElasticFile" fileName="c:\temp\AionApi.Elastic-${shortdate}.log">
            <layout xsi:type="JsonLayout">
                <attribute name="timestamp" layout="${date:format=o}" />
                <attribute name="level" layout="${level:upperCase=true}" />
                <attribute name="logger" layout="${logger}" />
                <attribute name="message" layout="${message}" />
                <attribute name="exception" layout="${exception:format=tostring}" />
                <!-- Add ASP.NET Core specific fields for context -->
                <attribute name="traceIdentifier" layout="${aspnet-traceidentifier}" />
                <attribute name="url" layout="${aspnet-request-url}" />
                <attribute name="action" layout="${aspnet-mvc-action}" />
                <!-- This will render all structured logging properties as a nested JSON object -->
                <!-- <attribute name="properties" layout="${all-event-properties:format=@}" encode="false" /> -->
            </layout>
        </target>


    </targets>

    <rules>

        <!-- Log everything to debugger -->
        <!-- <logger name="*" minlevel="Info" writeTo="debugger" enabled="false" final="false" /> -->

        <!-- <logger name="*" minlevel="Info" enabled="true" final="true" writeTo="LiteConsole,ConsoleDump" /> -->

        <!-- Suppress all logs from Quartz. -->
        <logger name="Quartz.*" maxlevel="Info" enabled="true" final="true" />
        <logger name="Microsoft.*" maxlevel="Info" enabled="true" final="true" />

        <!-- Handle everything else. -->
        <logger name="*" minlevel="Debug" writeTo="LiteConsole,ConsoleDump" enabled="true" />

        <!-- <logger name="Wiretap.*" xsi:appendTo="WiretapLog" minlevel="Debug" enabled="false" final="false" /> -->

        <!-- Use the fallbackLog if no other log matches. -->
        <!-- <logger name="*" appendTo="Test_SemLog3" minlevel="Debug" enabled="true" final="false" /> -->

    </rules>
</nlog>