<?xml version="1.0" encoding="utf-8"?>
<!--

  *** RELEASE *** RELEASE *** RELEASE ***

-->
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>

  </configSections>

  <connectionStrings>

  </connectionStrings>

  <common>
    <logging>
      <!--<factoryAdapter type="Common.Logging.Simple.**youradapterhere**, Common.Logging">
        <arg key="level" value="ERROR" />
      </factoryAdapter>-->
    </logging>
  </common>
  <appSettings>

    <add key="Aion.Program.Global.Environment" value="debug" />
    <add key="Aion.Program.Global.RobotConfigUpdaterSchedule" value="0/20 * * * * ?"/>
    <add key="Aion.Program.Global.RobotsDirectoryName" value="C:\Home\Temp\Services\Aion-v4\Robots"/>

  </appSettings>
</configuration>